$header-height: 52px;
$navbar-width: 200px;

.HomePage {
  display: flex;
  flex-direction: column;
  &-header {
    background-color: #081C5D;
    height: $header-height;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      height: 40px;
    }

    &__content {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__username {
      color: white;
      font-size: 13px;
    }
  }
  &-body {
    &__nav {
      width: $navbar-width;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(28,56,150, 0.2);
      padding-top: 40px;
      overflow-y: scroll;
      position: fixed;
    }
    &__content {
      margin-left: $navbar-width;
    }
    margin-top: $header-height;
  }
}