.main {
    padding: 2%;
}

.myh {
    font-family: Inter;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 28px;
}

.myform {
    display: grid;
    grid-template-areas: 
        "header complete_date"
        "header_input description_input"
        "description tags"
        "deadline_input tags_input"
        "button button"; 
    grid-template-rows: 15px 10% 15% 250px 60%;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5%;
    padding: 2%;
}

.myform > label {
    color: rgba(0, 0, 0, 0.35);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
}


.myform > input, textarea {
    border: none;
    border-radius: 4px;
    background-color: rgba(244, 244, 245, 1);
    outline: none;
    box-sizing: border-box;
    padding: 10px 2%;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
}

.head {
    grid-area: header;
}

#header {
    grid-area: header_input;
}

.complete_date {
    grid-area: complete_date;
}

#complete_date {
    grid-area: deadline_input
}

.description {
    grid-area: description;
    display: flex;
    align-items: flex-end;
}

#complete_date {
    grid-area: description_input;
}

.tags {
    grid-area: tags;
    display: flex;
    align-items: flex-end;
}

.tag_container {
    grid-area: tags_input;
    height: 125px;
    border: 1px solid gray;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 7% 5%;
    padding: 3%;
}

.mybutton {
    width: 180px;
    height: 50px;
    background-color: #1C3896;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    &:hover {
        cursor: pointer;
    }
}

.new-footer {
    margin: auto;
    grid-area: button;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag_container input {
    visibility: hidden;
    position: absolute;
}

.tag_container label {
    border: 1px solid black;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
}

.tag_container label {
    font-weight: bold;
    font-size: 20px;
}
