.NavLink {
  width: 80%;
  height: 30px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  text-decoration: none;
  &:hover{
    background-color: rgba(28, 56, 150, 0.05) !important;
    cursor: pointer;
  }
  &-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    color: #081C5D;
  }

  &-title {
    font-size: 20px;
    margin-left: 10px;
  }
}

.logout-button {
  height: 50px;
  padding: 0;
  padding-left: 10px;
}