.Table {
  border: 1px rgba(0, 0, 0,0.2) solid;
  border-radius: 10px;
  border-spacing: 0;
  width: 93%;
  th {
    text-align: left;
  }

  td, th {
    height: 50px;
    border-bottom: 1px rgba(0, 0, 0,0.2)  solid;
  }

  tr:last-child > td {
    border-bottom: none;
  }

  tr:first-child {
    padding-left: 20px;
  }

  input[type="checkbox"] {
    height: 20px;
    width: 20px;
    content: ' ';
    &:hover {
      cursor: pointer;
    }
    &:checked {
      background-color: red;
    }
  }

  .delete-icon{
    &:hover {
      cursor: pointer;
    }
  }
}