.List {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  &-header {
    width: 93%;
    height: 40px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 8fr 3fr 3fr;
    grid-gap: 10px;

    input[type="text"] {
      font-size: 20px;
      border: 1px solid rgba(87, 109, 181, 0.5);
      border-radius: 4px;
      padding-left: 20px;
      &::placeholder {
        color: rgba(87,109,181,0.5);
      }
      &:focus {
        outline-color:rgb(8, 28, 94);
      }
    }

    &__dropdown {
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      &:hover {
        cursor: pointer;
      }
      &__icon {
        height: 25px;
        width: 25px !important;
      }
      &:focus {
        outline:none;
      }

      &-list{
        position: absolute;
        background-color: white;
        width: inherit;
        border: 1px solid rgba(87, 109, 181, 0.5);
        border-radius: 4px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        grid-gap: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
      }

      &-item {
        width: 93%;
        height: 30px;
        border: none;
        border-radius: 4px;
        font-weight: bolder;
        color: white;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline:none;
        }
      }    
    }
  }
}

.selected {
  border: 2px solid rgb(8, 28, 94);
}