.error-wrapper {
    padding: 7px;
    background-color: #df2511;
    border-radius: 3px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 18%;
    position: absolute;
    left: 80%;
    top: 88vh;
    font-size: 14px;
}

.close-icon {
  margin-left: 5px;
  &:hover {
    color: #f0afa8;
    cursor: pointer;
  }
}