.Label {
  &-sm {
    height: 17px;
    width: 17px;
    border-radius: 100%;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: attr(data-title);
      position: relative;
      bottom: 20px;
      z-index: 1;
      background: #C4C4C4;
      color: white;
      border-radius: 5px;
      font-size: 15px;
      padding: 5px 10px;
      opacity: 0;
      pointer-events: none;
      transition: .2s opacity;
      transition-delay: 0s;
      width: 100%;
    }
  
    &:hover::after {
      opacity: 1;
      transition-delay: .5s;
    }
  }
  &-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}