.edit-wrapper {
  padding: 2%;
}

.edit-title {
  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 28px;
}

.edit-form{
  display: grid;
  grid-template-areas: 
      "header deadline"
      "header_input description_input"
      "description tags"
      "deadline_input tags_input"
      "button button"; 
  grid-template-rows: 15px 10% 15% 250px 60%;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5%;
  padding: 2%;
}

.edit-form > label {
  color: rgba(0, 0, 0, 0.35);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
}


.edit-form > input, textarea {
  border: none;
  border-radius: 4px;
  background-color: rgba(244, 244, 245, 1);
  outline: none;
  box-sizing: border-box;
  padding: 10px 2%;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
}

.edit-heading {
  grid-area: header;
}

#header {
  grid-area: header_input;
}

.edit-deadline {
  grid-area: deadline;
}

#deadline {
  grid-area: deadline_input
}

.edit-description {
  grid-area: description;
  display: flex;
  align-items: flex-end;
}

#deadline {
  grid-area: description_input;
}

.edit-tags {
  grid-area: tags;
  display: flex;
  align-items: flex-end;
}

.tag-container {
  grid-area: tags_input;
  border: 1px solid gray;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5%;
  padding: 3%;
  height: 50%;
}

.edit-submit {
  width: 180px;
  height: 50px;
  background-color: #1C3896;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
  border: none;
}

.edit-footer {
  margin: auto;
  grid-area: button;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag-container input {
  visibility: hidden;
  position: absolute;
}

.tag-container label {
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
      cursor: pointer;
  }
}

.tag-checked {
  border: 2px blue solid;
}
