.login-form {
  background-color: rgba(255, 255, 255, 1);
  width: 436px;
  padding-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.auth-wrapper {
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 20, 0.3), rgba(0, 0, 20, 0.3)), url("public/space-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  form {
    display: flex;
    flex-direction: column;
    height: 70%;
  }
}

.company_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.neptunium {
  color: rgba(255, 255, 255, 1);
 font-family: Roboto Mono;
 font-size: 50px;
}

.reg {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  padding-bottom: 15px;
}

.already_registered {
  padding-bottom: 10px;
}

.already_registered_text {
  color: rgba(0, 0, 0, 0.35);
  font-family: Inter;
  font-size: 13px;
}

.input_center {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  width: 100%;
  .text {
    color: rgba(0, 0, 0, 0.35);
    font-weight: bold;
    overflow: hidden;
    font-family: Inter;
    font-size: 13px;
  }
}

.auth_input {
  height: 30px;
  background-color: rgb(243, 243, 244);
  border: none;
  bottom: 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: rgba(28, 56, 150, 1);
  width: 160px;
  height: 40px;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 20px;
  &:hover {
    cursor: pointer;
  }
}

.planet-icon {
  margin-left: 10px;
  height: 50px;
}