.Settings{
	display: flex;
	flex-direction: column;
	padding: 2%;
	&_header{
		font-family: Inter;
		font-size: 26px;
		font-weight: 500;
	}

	&_form {
		display: flex;
		flex-direction: column;
	}

	&_form-fields {
		display: flex;
	}

	&_first-column {
		width: 100%;
	}

	&_second-column {
		width: 90%;
		margin-left: 30px;
	}

	&_text-input {
		display: flex;
		flex-direction: column;
	}

	&_label{
	width: 212.81px;
	height: 20px;

	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 20px;

	text-transform: uppercase;

	color: rgba(0, 0, 0, 0.50);
	}
	&_box{
		width: 97%;
		border-style: hidden;
		/* Input / None */
		background: #F4F4F5;
		border-radius: 4px;
		padding: 10px 2%;
		font-size: 15px;
		font-weight: 500;
	}

	&_tags-name{

		width: 212.81px;
		height: 20px;

		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 20px;

		text-transform: uppercase;
		margin: 0;
		color: rgba(0, 0, 0, 0.50);
	}
	&_tag{
		margin-bottom: 28px;
		width: 13vw;
		height: 25px;
		border-style: hidden;
		border-radius: 4px;
		text-align: center;
		color: white;
		font-weight: bold;
		margin-right: 40px;
	}

	&_username {
		margin-bottom: 30px;
	}

	&_submit{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 40px;
		flex-direction: column;
		
		button {
			border-style: hidden;
			background: #1C3896;
			border-radius: 4px;
			width: 150px;
			height: 40px;
			color: white;
			font-weight: bold;
			&:hover {
				cursor: pointer;
			}
		}
	}

	&_error {
		color: red;
		font-size: 13px;
		margin: 0px;
	}
}